/* padding left and right is for search and reset icons */
.slinput input {
  padding:10px;
  width:100%;
  border:1px solid #ccc;
  padding-left:31px;
  padding-right:30px;
  color:black;
  font-family: arial,sans-serif;
  font-size: 16px;
}
/* Remove IE10's “clear field” X button */
.slinput input::-ms-clear {
    display: none;
}
.slinput input:focus {
  border:1px solid #4d90fe;
}

/* left side icon style (search icon) */
.slinput .left-icon {
  position:absolute;
  left:10px;
  top:11px;
}
.slinput .fa {
  color:#444;
  font-size: 16px;
}
.slinput .fa-close {
  color:#ccc;
}

.slinput .active {
  color:#555;
}

/* right side icon style (search icon) */
.slinput .right-icon {
  position:absolute;
  right:10px;
  top:11px;
  cursor:pointer;
}
.slinput {
  position:relative;
  width:100%;
}

.input_date{
  height: 10px!important;
}


/*Info de reportes*/
.hist{
  margin-left: -5px!important;
  background: #f4f7f8;
  border-radius: 8px;
  padding: 10px;
}
.user-filter{
  margin-bottom: 5px!important;
  padding: 20px;
  background: #f4f7f8;
  border-radius: 8px;
}
.state-filter{
  margin-top: 5px!important;
  padding: 20px;
  background: #f4f7f8;
  border-radius: 8px;
}
.rep{
  background: #f4f7f8;
  border-radius: 8px;
  margin-bottom: 5px!important;
  margin-top: 5px!important;
  padding-top: 10px!important;
  padding-left: 20px!important;
  padding-bottom: : -10px!important;
}
