h1{
	text-align: center;
	font: 20px!important;
}

.navbar-brand {
	padding: 0px!important;
}

.container.extra {
	padding-top: 30px!important;
	padding-bottom: 30px!important;
}

.container.bod {
	padding-top: 48px!important;
	padding-bottom: 48px!important;
}

.jumbotron {
	padding-top: 48px!important;
	padding-bottom: 48px!important;
}

.main-manage {
	padding-left: 27%;
	padding-top: 2%;
}
.type-user{
	float: left;
	margin-left: 80px!important;
}
.role-user{
	float: left;
	margin-left: 10px!important;
}
.state-user{
	float: left;
	margin-left: 80px!important;
}


.btn-group {
	width: 100%!important;
	font-size: 14px!important;
}

.dropdown-menu{
	width: 100%!important;
}

.col-md-1{
	border: solid #e8e8e8;
	border-radius: 8px;
	border-spacing: 1px;
	text-align: center;
	height: 74px!important;
}

.main-login{
	padding-left: 25%;
	padding-top: 5%;
}

.habs{
  margin: 20px 20px;
  padding: 40px;
  background: #f4f7f8;
  border-radius: 8px;
}

.sel-empl{
  margin: 20px 20px;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

.room-selected{
	background-color: #e1e1e1!important;
}

.rcorners {
    border-radius: 25px;
    border: 2px solid #gray;
    padding: 20px; 
    width: 200px;
    height: 150px; 
}

.c {
  display: block;
  width: 50px;
  height: 35px;
  margin: 10px;
  background: lightgray;
  text-align: center;
  padding-top: 10%;
}

.c2 {
  display: block;
  padding: 10px;
  width: 30%;
  margin: 10px;
  background: lightgray;
  text-align: center;
}

.d {
  display: block;
  width: 90px;
  height: 35px;
  margin: 10px;
  background: gray;
  text-align: center;
  padding-top: 5%;
}

/**** Select Room button Employee ****/

.mybtn {
    background-color: gray;
    color: white;
    padding: 22px;
    margin: 0;
    font-size: 24px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 85px;
    height: 75px;
}

.roombutton {
	  padding: 5px;
    position: relative;
    display: inline-block;
}

.roombutton:hover .mybtn {
    background-color: lightgray;
}

/***** Room start/end button *****/

.mybtn2 {
    background-color: gray;
    color: white;
    padding: 22px;
    margin: 0;
    font-size: 24px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.roombutton2 {
    padding: 5px;
    position: relative;
    display: inline-block;
}

.roombutton2:hover .mybtn2 {
    background-color: lightgray;
}

.checkboxList{
    list-style-type: none;
}

.checkboxdemoBasicUsage div.flex-xs {
  min-height: 40px; }

.checkboxdemoBasicUsage .checkboxDemo1 div {
  clear: both; }

.checkboxdemoBasicUsage p {
  padding-left: 8px; }

.checkboxdemoBasicUsage fieldset.standard {
  border-style: solid;
  border-width: 1px; }

.checkboxdemoBasicUsage legend {
  color: #3F51B5; }

.checkboxdemoBasicUsage legend code {
  color: #3F51B5;
  font-weight: normal; }

.checkboxdemoBasicUsage .ipsum {
  color: saddlebrown; }