h1{
	text-align: center;
	font: 20px!important;
}

.navbar-brand {
	padding: 0px!important;
}

.container-extra {
	padding-top: 30px!important;
	padding-bottom: 30px!important;
}
/*pagination*/
.container-bod {
	padding-top: 48px!important;
	padding-bottom: 48px!important;
}
/*manage users*/
.main-manage {
	padding-left: 27%;
	padding-top: 2%;
}
.type-user{
	float: left;
	margin-left: 80px!important;
}
.role-user{
	float: left;
	margin-left: 10px!important;
}
.state-user{
	float: left;
	margin-left: 80px!important;
}

.btn-group {
	width: 100%!important;
	font-size: 14px!important;
}

.dropdown-menu{
	width: 100%!important;
}

/*login*/
.main-login{
	padding-left: 25%;
	padding-top: 5%;
}

/*add Rooms*/
.habs{
  margin-left: 5px!important;
  background: #f4f7f8;
  border-radius: 8px;
  padding: 10px;
}
.emps{
  margin-left: -5px!important;
  padding: 20px;
  background: #f4f7f8;
  border-radius: 8px;
}
.simb{
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
#grid {
	width: 60px!important;
	height: 60px!important;
  border-radius: 8px;
}
.grids {
	padding: 10px;
  margin: 0 auto;
  width: 100%; 
}
.fa-remove{
  font-size:22px;
  padding-left:10px;
  margin-top:3px;
}
/* modal*/
.room-image{
  background: #f4f7f8;
  border-radius: 8px;
  padding: 10px;
  height: 300px;
  border-color: white;
  border-style: solid;
}
.emps-info{
  background: #f4f7f8;
  border-radius: 8px;
  padding: 10px;
  height: 300px;
  border-color: white;
  border-style: solid;
}
.name-emps-info{
  text-align: center!important;
}

/*distribute Rooms*/
.repart{
  padding: 10px;
}

.repart-name{
  text-align: center;
}

/*Employees*/
.glyphicon.glyphicon-move.list-group-item{
  width: 20px;
}

.room-selected{
	color: #fff!important;
  background-color: #337ab7!important;
}
.room-clean {
  color: #fff!important;
  background-color: #5cb85c!important;
}
.room-clean-w-prob {
  color: #fff!important;
  background-color: #f0ad4e!important;
}
.room-not-clean {
  color: #fff!important;
  background-color: #d9534f!important;
}

.room-hover {
    background-color: #9f9 !important;
}

.rcorners {
    border-radius: 25px;
    border: 2px solid #gray;
    padding: 20px; 
    width: 200px;
    height: 150px; 
}

.c {
  display: block;
  width: 50px;
  height: 35px;
  margin: 10px;
  background: lightgray;
  text-align: center;
  padding-top: 10%;
}

.d {
  display: block;
  width: 90px;
  height: 35px;
  margin: 10px;
  background: gray;
  text-align: center;
  padding-top: 5%;
}



.c2 {
  display: block;
  padding: 10px;
  width: 30%;
  margin: 10px;
  background: lightgray;
  text-align: center;
}

.d {
  display: block;
  width: 90px;
  height: 35px;
  margin: 10px;
  background: gray;
  text-align: center;
  padding-top: 5%;
}

/**** Select Room button Employee ****/

.mybtn {
    background-color: gray;
    color: white;
    padding: 22px;
    margin: 0;
    font-size: 24px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 85px;
    height: 75px;
}

.roombutton {
	  padding: 5px;
    position: relative;
    display: inline-block;
}

.roombutton:hover .mybtn {
    background-color: lightgray;
}

/***** Room start/end button *****/

.mybtn2 {
    background-color: gray;
    color: white;
    padding: 22px;
    margin-left: 40px;
    font-size: 24px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.roombutton2 {
    padding: 5px;
    position: relative;
    display: inline-block;
}

.roombutton2:hover .mybtn2 {
    background-color: lightgray;
}

.checkboxList{
    list-style-type: none;
}

.checkboxdemoBasicUsage div.flex-xs {
  min-height: 40px; }

.checkboxdemoBasicUsage .checkboxDemo1 div {
  clear: both; }

.checkboxdemoBasicUsage p {
  padding-left: 8px; }

.checkboxdemoBasicUsage fieldset.standard {
  border-style: solid;
  border-width: 1px; }

.checkboxdemoBasicUsage legend {
  color: #3F51B5; }

.checkboxdemoBasicUsage legend code {
  color: #3F51B5;
  font-weight: normal; }

.checkboxdemoBasicUsage .ipsum {
  color: saddlebrown; }

  textarea {
  padding: 10px !important;
  border: solid 5px gray !important;
  transition: border 0.3s !important;
  width: 500px !important;
  border-radius: 20px;
}

textarea:focus,
textarea.focus {
  border: solid 5px #20C209 !important;
}

.list {
  list-style-type: none; 
}

.examples{
  color: gray;
}

/* HTML5 Boilerplate accessible hidden styles */
[type="radio"] {
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px; margin: -1px; 
  overflow: hidden; 
  padding: 0; 
  position: absolute; 
  width: 1px;
}

/* One radio button per line */
label {
  display: block;
  cursor: pointer;
  line-height: 2.5;
}

[type="radio"] + span {
  display: block;
}

/* the basic, unchecked style */
[type="radio"] + span:before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.25em;
  border-radius: 1em;
  border: 0.125em solid #fff;
  box-shadow: 0 0 0 0.15em #000;
  margin-right: 0.75em;
  transition: 0.5s ease all;
}

/* the checked style using the :checked pseudo class */
[type="radio"]:checked + span:before {
  background: green;
  box-shadow: 0 0 0 0.25em #000;
}

/* never forget focus styling */
[type="radio"]:focus + span:after {
  content: '\0020\2190';
  line-height: 1;
  vertical-align: -0.125em;
}

/* Base styles for spans */
.contain span::before,
.contain span::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* Radio buttons */
.contain span.radio::before {
  width: 27px;
  height: 27px;
  background-color: #fff;
  left: -35px;
  box-sizing: border-box;
  border: 3px solid transparent;
  transition: border-color .2s;
}
.contain span.radio:hover::before {
  border: 3px solid #B5E5A4;
}
.contain span.radio::after {
  content: '\f00c';
  font-family: 'FontAwesome';
  left: -29px;
  top: 2px;
  color: transparent;
  transition: color .2s;
}
input[type="radio"]:checked + label span.radio::after {
  color: green;
}
