<!DOCTYPE html>
<html ng-app="AngularScaffold">
  <head>
    <meta charset="utf-8">
    <title>Hotel MacArthur</title>
    <!-- inject:css -->
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/forms.css">
    <link rel="stylesheet" href="styles/history.css">
    <link rel="stylesheet" type="text/css" href="styles/sweetalert.css">
    <link href="styles/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/angular-keypad/dist/angular-keypad.css">

    <!-- endinject -->

    <!-- bower:css -->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap3-dialog/dist/css/bootstrap-dialog.min.css">
    <!-- endinject -->


    <!--home-->
     <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
        <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
  </head>

  <body>
  <nav class="navbar navbar-inverse navbar-fixed-top" ng-controller ="UsersController">
      <div class="container">
         <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
               <span class="sr-only">Toggle Navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href = "" ng-click="clickIconButton() ">
               <img class="logo" alt="Brand" src="../img/logomacarthur.png" style="
                   width: 8em;
                   height: 2.8em;
                   padding-top: 0.2em;
               ">
            </a>
         </div>
         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li ng-cloak ng-show="show_for_admin()" ><a href="/#/home"> Manejar Habitaciones</a></li>
              <li ng-if="show_for_admin()" ng-cloak><a href="/#/manage">Manejar Usuarios</a></li>
              <li ng-if="show_for_admin()" ng-cloak><a href="/#/reports">Historial</a></li>
              <li ng-if="show_for_admin()" ng-cloak><a href="/#/problemas">Manejar Problemas</a></li>
              <li ng-if="show_for_admin()" ng-cloak  ng-click ="show_options()">
              <a class = "glyphicon glyphicon-cog" data-toggle="modal" data-target="#settings_modal" ></a></li>
              <li ng-if="show_logout()" ng-cloak ng-click="logout()"><a href="">Logout</a></li>
            </ul>
         </div>
      </div>
   </nav>

  <!-- inicio modal opciones-->
   <div class="emps col-md-2" ng-controller = "RoomController">
    <div class="modal fade" id="settings_modal" tabindex="1" role="dialog" aria-labelledby="settings_modal_label"  >
      <div class="modal-dialog sizing" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="settings_modal_label">Opciones</h4>
          </div>
          <div class="modal-body" ng-model="infoRC">
            <div ng-init = "get_settings()">
              <input type="checkbox" id="pin_login_check" value="pin_login">Login por PIN<br>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click = "save_settings()">Guardar Opciones</button>
          </div>
        </div>
      </div>
    </div>
    </div>


     <!-- fin modal opciones-->
    <div ui-view  ></div>
  </body>

  <!-- bower:js -->
  <script src="/jquery/dist/jquery.js"></script>
  <script src="/jquery-ui/jquery-ui.js"></script>
  <script src="/angular/angular.js"></script>
  <script src="/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="/bootstrap-css/js/bootstrap.min.js"></script>
  <script src="/bootstrap3-dialog/dist/js/bootstrap-dialog.js"></script>
  <script src="/ngstorage/ngStorage.js"></script>
  <script src="angular-dragdrop/src/angular-dragdrop.min.js"></script>
  <script src="/bootstrap-sweetalert/dist/sweetalert.min.js"></script>
  <script src="scripts/notify.js"></script>
  <!-- endinject -->
  <script src="app.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.4.6/angular-locale_es-es.js"></script>
  <!-- inject:js -->
  <script src="scripts/controllers/UsersController.js"></script>
  <script src="scripts/services/UserService.js"></script>
  <script src="scripts/controllers/RoomController.js"></script>
  <script src="scripts/services/RoomService.js"></script>
  <script src="scripts/controllers/HistoryController.js"></script>
  <script src="scripts/services/HistoryService.js"></script>
  <script src="scripts/services/authService.js"></script>
  <script src="/angular-keypad/dist/angular-keypad.js"></script>
  <script src="scripts/controllers/ProblemasCrud.js"></script>
  <script src="scripts/services/ProblemService.js"></script>
  <!-- endinject -->

</html>
