<div class="container" ng-controller="RoomController"  ng-init= "init()"> <!-- ng-init= "createAllRooms()">-->
   <div class="container extra">
   </div>
   <div class="container extra">
   </div>


    <div class="row">
      <!-- Seleccion de Empleadas -->
      <div class="emps col-md-4">
        <h1>Empleados</h1>
          <!-- Modal -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Seleccione Empleados</h4>
                </div>
                <div class="modal-body">
                  <select ng-options="employee as employee.username for employee in empleados" ng-model="n">
                  </select>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                  <button type="button" class="btn btn-primary" ng-click="submitEmployee(n)">Agregar</button>
                </div>
              </div>
            </div>
          </div>

          <ul class="list-group">
            <li ng-repeat = "n in employeeWithRooms track by $index" class="list-group-item" >
              {{n.empleado.username}}
              <a ng-click="close($index)" class="fa fa-remove fa-times fa-lg pull-right" style="color: gray;"></a>
              <span data-drag="true" 
                    data-jqyoui-options="{revert: 'invalid'}" 
                    ng-model="firstfloor" jqyoui-draggable="{index: {{$index}}, animate:true, onStart:'startCallback(n)', onStop:'stopCallback(n)'}" class="glyphicon glyphicon-hand-up badge">
              </span>
            </li>
          </ul>

          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary glyphicon glyphicon-plus" data-toggle="modal" data-target="#myModal" ></button>

      </div>
   
     <!-- Grid de habitaciones -->
      <div class="habs col-md-8">
        <h1>Habitaciones</h1>
        <div class="row grids">
          <span ng-repeat = "f in floors track by $index">
            <div id="grid" ng-if="(f.room_id <= 125)" class="btn btn-default" data-drop="true"
               jqyoui-options="{revertDuration: 1000}"
               jqyoui-droppable="{multiple:true,onOver:'room_hover(f)',onOut:'room_hover_out(f)', onDrop:'dropCallback(f)'}"
               ng-click = "selectRoom(false,f)"                 
               ng-class="{'room-selected': f.status}" 
               ng-model="floors">
              {{f.room_id}}
              <span class = "glyphicon glyphicon-user" ng-hide = "f.idUser.length == 0"></span>
            </div>
            <div id="grid" ng-if="(f.room_id > 125)" class="btn btn-default" data-drop="true"
               jqyoui-options="{revertDuration: 1000}"
               jqyoui-droppable="{multiple:true,onOver:'room_hover(f)',onOut:'room_hover_out(f)', onDrop:'dropCallback(f)'}"
               ng-click = "selectRoom(false,f)"                 
               ng-class="{'room-selected': f.status}" 
               ng-model="floors">
              {{f.room_id}}
              <span class = "glyphicon glyphicon-user" ng-hide = "f.idUser.length == 0"></span>
            </div>
            
            <br class="container extra" ng-show = "f.room_id%10 == 0 || $index == 24">
            <br class="container extra" ng-show = "$index == 24">
          </span>
        </div>
      </div>
   </div>
  
   <!-- Pagination (boton de next) -->
   <!--
   <div class="container bod">
      <nav aria-label="...">
        <ul class="pager">
          <li class="next" ng-click="changeChooseEmps(selectedRooms)"><span aria-hidden="true">Siguiente &rarr;</span></li>
        </ul>
      </nav>
   </div>-->

  <div class="container extra">
  </div>
  <div class="container extra">
  </div>

  <!-- Reparticion de Habitaciones -->
  <div class="habs">
    <h1>Repartición de Habitaciones</h1>

    <div class="row">
      <div class="repart col-md-3" ng-repeat = "e in employeeWithRooms track by $index"
           ng-model="employeeWithRooms.habitacion" data-drop="true" data-jqyoui-options jqyoui-droppable="{multiple:true,onOver:'room_hover(e)',
           onOut:'room_hover_out(e)',onDrop:'stopCallback_distribution(e)'}">
        <h4 class="repart-name" >
          {{e.empleado.username}}
        </h4>
        <ul class="list-group" >
          <li class="list-group-item" data-drag="true" 
              data-jqyoui-options="{revert: 'invalid'}" 
              data-id="{{h.room_id}}" 
              ng-model="eployeeWithRooms.habitacion" jqyoui-draggable="{index: {{$index}},animate:true,onStart:'startCallback_distribution(h,e)',
               onStop:'startCallback_distribution(h,e)',onDrop:'dropCallback_distribution(e)'}"
              ng-repeat = "h in e.habitacion track by $index"> {{h.room_id}} </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Pagination -->
  <div class="container bod col-md-12">
    <nav aria-label="...">
      <ul class="pager">
        <li class="previous"><a ng-click = "changeAddRooms()"><span aria-hidden="true">&larr;</span> </a></li>
        <li class="next"><a ng-click="changeAddRooms()">Terminar <span aria-hidden="true">&rarr;</span></a></li>
      </ul>
    </nav>
  </div>
</div>

