<div class="container" ng-controller="RoomController"  ng-init= "init()"> <!-- ng-init= "getRooms()">-->
   <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
         <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
               <span class="sr-only">Toggle Navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/#/home"> 
               <img class="logo" alt="Brand" src="../img/logomacarthur.png" style="
                   width: 8em;
                   height: 2.8em;
                   padding-top: 0.2em;
               ">
            </a>
         </div>
         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="/#/home">Manejar Habitaciones</a></li>
              <li><a href="/#/manage">Manejar Usuarios</a></li>
              <li ng-click="logout()"><a href="">Logout</a></li>
            </ul>
         </div>
      </div>
   </nav>

   <div class="container extra">
   </div>

   <!-- Breadcrumbs -->
   <div class="container bod">
      <ul class="breadcrumb">
         <li class="active"><a href="/#/home">Agregar Habitaciones</a></li>
         <li><a href="/#/choose">Empleados</a></li>
         <li><a href="/#/dist">Repartición</a></li>
         <li><a href="/#/home">Final</a></li>
      </ul>
   </div>


    <div class="row">





      <div>
      <ul dnd-list="models">
                  <!-- The dnd-draggable directive makes an element draggable and will
                       transfer the object that was assigned to it. If an element was
                       dragged away, you have to remove it from the original list
                       yourself using the dnd-moved attribute -->
                  <li ng-repeat="item in lists"
                      dnd-draggable="item"
                      dnd-moved="lists.splice($index, 1)"
                      dnd-effect-allowed="move"
                      dnd-selected="models.selected = item"
                      ng-class="{'selected': models.selected === item}"
                      >
                      {{item}}
                  </li>
              </ul>

      </div>

      <!-- Seleccion de Empleadas -->
     <div class="emps col-md-4">
        <h1>Empleadas</h1>
         <!--AQUI ARREGLEN QUE SE MIRE WONITO POR QUE DICE DARIO QUE LE VALE PIJA -->
           <table >
            <tr ng-click="chooseEmployee($index)" ng-repeat = "n in empleados track by $index" class="" >
              <td   data-drag="true" 
                    data-jqyoui-options="{revert: 'invalid'}" 
                    ng-model="firstfloor" jqyoui-draggable="{index: {{$index}},animate:true,onStart:'startCallback(n)', onStop:'stopCallback(n)'}" class="glyphicon glyphicon-move"  >
              </td>
              <td>{{n.username}}</td>
            </tr>
           </table>
     </div>
   
     <!-- Grid de habitaciones -->
     <div class="habs col-md-8">
        <h1>Habitaciones</h1>
        <div class="row grids">
              
                <div>
                <span 
                 data-drop="true"
                 data-drag = "false"
                 data-jqyoui-options
                 stack = "true"
                 jqyoui-droppable="{animate:true, multiple:true,onOver:'room_hover(s)', onDrop:'dropCallback(s)'}"
                 ng-repeat = "s in firstfloor"  class="grid btn btn-default"   
                 ng-class="{'room-selected': s.status}" 
                 ng-model="firstfloor">{{s.room_id}}
                </span>
                <div>
             <!-- 
               jqyoui-draggable="{index: {{$index}},animate:true,onStart:'startCallback(s)', onStop: 'stopCallback(s)'}" 
             <button type="button" class="grid btn btn-default" ng-repeat="f in firstfloor" ng-class="{'room-selected': f.status}" ng-click="selectRoom(f)"> {{f.room_id}} </button> -->
        </div><br>
        <div class="row grids">
                <div>
                <span 
                 data-drop="true"
                 data-drag = "false"
                 data-jqyoui-options
                 stack = "true"
                 jqyoui-droppable="{animate:true, multiple:true,onOver:'room_hover(s)', onDrop:'dropCallback(s)'}"
                 ng-repeat = "s in secondfloor"  class="grid btn btn-default"   
                 ng-class="{'room-selected': s.status}" 
                 ng-model="secondfloor">{{s.room_id}}
                </span>
                <div>
        </div>
     </div>

     

   </div>


   <!-- Grid de habitaciones -->


   <div class="habs">
      <h1>Habitaciones</h1>
      <div class="row list-group" >
             <span ng-model="empleados" class="thumbnail" data-drop="true"
              data-jqyoui-options jqyoui-droppable="{onDrop:'dropCallback(0)'}"
              type="button" class="btn col-md-1 btn-default" ng-repeat="f in firstfloor" ng-class="{'room-selected': s.status}" 
              context-menu="menuOptions" ng-click="selectRoom(f)"> {{f.room_id}}            
                <div  ng-hide="f.time_reserved == '0hr'"><span class="badge">{{f.time_reserved}}</span></div> 
            </span>
      </div><br>
      <div class="row">
            <span type="button" class="btn col-md-1 btn-default" ng-repeat="s in secondfloor" ng-class="{'room-selected': s.status}" 
            context-menu="menuOptions" ng-click="selectRoom(s)"> {{s.room_id}}            
             <div  ng-hide="s.time_reserved == '0hr'"><span class="badge">{{s.time_reserved}}</span></div> 
            </span>
      </div>
   </div>

   <!-- Pagination (boton de next) -->
   <div class="container bod">
      <nav aria-label="...">
        <ul class="pager">
          <!--li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li-->
          <li class="next" ng-click="changeChooseEmps(selectedRooms)"><span aria-hidden="true">Siguiente &rarr;</span></li>
        </ul>
      </nav>
   </div>
</div>

