  <div class="container" ng-controller="RoomController" ng-init = "llenarEmpleado()">
   <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
     <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
       <span class="sr-only">Toggle Navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>
     <a class="navbar-brand" href="#"> 
       <img class="logo" alt="Brand" src="../img/logomacarthur.png" style="
       width: 8em;
       height: 2.8em;
       padding-top: 0.2em;
       ">
     </a>
   </div>
   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="/#/home">Manejar Habitaciones</a></li>
      <li><a href="/#/manage">Manejar Usuarios</a></li>
    </ul>
  </div>
</div>
</nav>

<div class="container extra">
</div>

<!-- Breadcrumbs -->
<div class="container bod">
  <ul class="breadcrumb">
   <li><a href="/#/home">Agregar Habitaciones</a></li>
   <li class="active"><a href="/#/choose">Empleados</a></li>
   <li><a href="/#/dist">Repartición</a></li>
   <li><a href="/#/home">Final</a></li>
 </ul>
</div>

<!-- Seleccion de Empleadas -->
<div class="sel-empl row">
  <h1>Selección de Empleadas</h1>
  <div class="col-md-5">
    <div class="list-group" ng-repeat = "n in empleados">
      <a class="list-group-item" ng-click = "chooseEmployee(n, $index)">{{n.name}}</a>
    </div>
  </div>
  <div class="col-md-2">

  </div>
  <div class="col-md-5">
    <div class="list-group" ng-repeat = "n in working_employee ">
      <a class="list-group-item" ng-click = "no_longer_working_employee(n,$index)">{{n.name}}</a>
    </div>
  </div>
</div>

<!-- Pagination -->
<div class="container bod">
  <nav aria-label="...">
    <ul class="pager">
      <li class="previous" ng-click="changeAddRooms()"><span >&larr; Anterior </span></li>
      <li class="next" ng-click="changeDist(selectedRooms,working_employee)"><a>Siguiente <span aria-hidden="true">&rarr;</span></a></li>
    </ul>
  </nav>
</div>
</div>