<div class="container" ng-controller="RoomController" ng-init = "llenarEmpleado()">
  

  <div class="container extra">
  </div>

  <!-- Breadcrumbs -->
  <div class="container bod">
    <ul class="breadcrumb">
     <li><a href="/#/home">Agregar Habitaciones</a></li>
     <li class="active"><a href="/#/choose">Empleados</a></li>
     <li><a href="/#/dist">Repartición</a></li>
     <li><a href="/#/home">Final</a></li>
   </ul>
  </div>

  <!-- Seleccion de Empleadas -->


  <div class="sel-empl row">
    <div class="col-md-2">

    </div>
    <div class="col-md-5">
      <!--<div class="list-group" ng-repeat = "n in working_employee ">
        <a class="list-group-item" ng-click = "no_longer_working_employee(n,$index)">{{n.name}}</a>
      </div>-->
        <div ng-model="empleados" class="thumbnail" data-drop="true"
         data-jqyoui-options jqyoui-droppable="{onDrop:'dropCallback(0,$index)'}" style='height:50px;width: 15em;'> <!-- aquui se hace drop-->

              <div class="list-group" ng-repeat = "s in working_employee track by $index">
                <div onStart="startCallback(n)" class="btn btn-primary btn-draggable" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" 
                ng-model="working_employee" jqyoui-draggable="{index: {{$index}},animate:true,onStart:'startCallback(s, $index)', onStop: 'stopCallback'}" ng-hide="!s.name">{{s.name}}</div>
              </div>
        </div>
    </div>
  </div>

  <!-- Pagination -->
  <div class="container bod">
    <nav aria-label="...">
      <ul class="pager">
        <li class="previous" ng-click="changeAddRooms()"><span >&larr; Anterior </span></li>
        <li class="next" ng-click="changeDist(selectedRooms,working_employee)"><a>Siguiente <span aria-hidden="true">&rarr;</span></a></li>
      </ul>
    </nav>
  </div>
</div>