<div class="container" ng-controller="UsersController" >
   <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
         <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
               <span class="sr-only">Toggle Navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"> 
               <img class="logo" alt="Brand" src="../img/logomacarthur.png" style="
                   width: 8em;
                   height: 2.8em;
                   padding-top: 0.2em;
               ">
            </a>
         </div>
      </div>
   </nav>

   <div class="container extra">
   </div>

   <div class="main-login">
      <form>

         <h1>Iniciar Sesión</h1>

         <fieldset>
           <label for="mail">Usuario:</label>
           <input  ng-model="username" type="text" id="username" name="user_email">

           <label for="password">Password:</label>
           <input  ng-model="password"  type="password" id="password" name="user_password">
         </fieldset>
         <p></p>
         <button ng-click= "login()"  class="bform" type="submit">Ingresar</button>
      </form>
   </div>
</div>