<div class="container" ng-controller="UsersController" ng-init="getUser()">
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle Navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"> 
              <img class="logo" alt="Brand" src="../img/logomacarthur.png" style="
                   width: 8em;
                   height: 2.8em;
                   padding-top: 0.2em;
              ">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/#/home">Manejar Habitaciones</a></li>
              <li class="active"><a href="/#/manage">Manejar Usuarios</a></li>
              <li ng-click="logout()"><a href="">Logout</a></li>
            </ul>
        </div>
      </div>
  </nav>

  <div class="container extra">
  </div>

  <ul class="nav nav-tabs" ng-init="tab = 1">
    <li role="presentation" class="tab" ng-class="{active: tab==1}" ng-click="tab = 1" ><a>Crear Usuarios</a></li>
    <li role="presentation" class="tab" ng-class="{active: tab==2}" ng-click="tab = 2"><a>Modificar Usuarios</a></li>
  </ul>

  <div class="main-manage" >
    <!-- Agregar Usuarios form -->
    <form class = "fix " ng-show="tab == 1">

      <h1>Crear un Nuevo Usuario</h1>

      <fieldset>
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="user_name"  ng-model ="usuario.name" >

        <label for="name">Usuario:</label>
        <input type="text" id="name" name="user_username" ng-model ="usuario.username">

        <label for="password">Password:</label>
        <input type="password" id="password" name="user_password" ng-model ="usuario.password">

        <div class="role-user">
          <label>Rol:</label> <br>
          <input type="radio" id="adm" value="0" name="user_role" ng-model ="usuario.role" ><label for="adm" class="light" > Administrador</label><br>
          <input type="radio" id="emp"  value="1" name="user_role" ng-model ="usuario.role" ><label for="emp" class="light" > Empleado</label>
        </div>
        <div class="type-user">
          <label>Tipo:</label> <br>
          <input type="radio" id="perm"  value="0" name="user_type" ng-model ="usuario.employee_type" ><label for="perm" class="light" > Permanente</label><br>
          <input type="radio" id="temp" value="1" name="user_type" ng-model ="usuario.employee_type" ng-disabled="usuario.role == '0' "><label for="temp" class="light" > Temporal</label>
        </div>
        
      </fieldset>
      <p></p>
      <button class="bform"  ng-click="crear_usuario()">Registrar</button>
    </form>

    <!-- Modificar Usuarios form--> 
    <form ng-show="tab == 2">

      <h1>Modificar Usuarios</h1>

      <fieldset>
            <select ng-model="usuarioSeleccionado" ng-options="usuarios as usuarios.name for usuarios in lisUsuario" >
              
            </select>
        <br>

        <label >Nombre:</label>
        <input type="text" id="name" name="user_name" ng-model="usuarioSeleccionado.name">

        <label >Usuario:</label> 
        <input type="text" id="name" name="user_username" ng-model="usuarioSeleccionado.username">

        <label >Password:</label>
        <input type="password" id="password" name="user_password" ng-model="usuarioSeleccionado.password">

        <div class="role-user">
          <label>Rol:</label> <br>
          <input type="radio" id="adm" value="0" name="user_role" ng-model="usuarioSeleccionado.role" ><label  class="light" > Administrador</label><br>
          <input type="radio" id="emp" value="1" name="user_role" ng-model="usuarioSeleccionado.role" ><label  class="light" > Empleado</label>
        </div>
        <div class="type-user">
          <label>Tipo:</label> <br>
          <input type="radio" id="perm" value="0" name="user_type" ng-model="usuarioSeleccionado.employee_type"><label class="light" > Permanente</label><br>
          <input type="radio" id="temp" value="1" name="user_type" ng-model="usuarioSeleccionado.employee_type" ng-disabled="usuario.role == '0' "><label  class="light" > Temporal</label>
        </div>
        <div class="state-user">
          <label>Estado:</label> <br>
          <input type="radio" id="inact" value="0" name="user_state" ng-model="usuarioSeleccionado.status" ><label  class="light" > Inactivo</label><br>
          <input type="radio" id="act" value="1" name="user_state" ng-model="usuarioSeleccionado.status" ><label  class="light"  > Activo</label>
        </div>
        </fieldset>
      <p></p>
      <button class="bform"  ng-click="modificar_usuario()">Modificar</button>
    </form>

  </div>
</div>