<div class="container" ng-controller="UsersController" ng-init="getUser()">
  
  <div class="container-extra">
  </div>
  <div class="container-extra">
  </div>

  <ul class="nav nav-tabs" ng-init="tab = 1">
    <li role="presentation" class="tab" ng-class="{active: tab==1}" ng-click="tab = 1" ><a>Crear Usuarios</a></li>
    <li role="presentation" class="tab" ng-class="{active: tab==2}" ng-click="tab = 2"><a>Modificar Usuarios</a></li>
  </ul>

  <div class="main-manage" >
    <!-- Agregar Usuarios form -->
    <form class = "fix " ng-show="tab == 1">


      <h1>Crear un Nuevo Usuario</h1>

      <fieldset>
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="user_name"  ng-model ="usuario.name" >

        <label for="name">Usuario:</label>
        <input type="text" id="name" name="user_username" ng-model ="usuario.username">

        <label for="password">Password:</label>
        <input type="password" id="password" name="user_password" ng-model ="usuario.password">

        <label for="name">Celular:</label>
        <input type="tel" id="name" name="user_username" ng-model ="usuario.cel">

        <label for="name">Telefono Fijo:</label>
        <input type="tel" id="name" name="user_username" ng-model ="usuario.tel">

        <label for="name">Direccion:</label>
        <input type="text" id="name" name="user_username" ng-model ="usuario.direction">

        <label for="name"># Identidad:</label>
        <input type="text" id="name" name="user_username" ng-model ="usuario.id">

        <label for="name">Fecha de Nacimiento:</label>
        <input type="date" name="usuario.birth_date">

        <label for="name">Estado Civil:</label>
        <select ng-model="usuario.civil_status">
          <option value="Soltero">Soltero(a)</option>
          <option value="Casado">Casado(a)</option>
          <option value="Viudo">Viudo(a)</option>
        </select>

        <label for="name">Hijos:</label>
        <input type="number" id="name" name="user_children" ng-model ="usuario.children">

        <label for="name">Foto:</label>
        <input type="file" name="usuario.photo">

        <label for="name">Usuario:</label>
        <input type="text" id="name" name="user_username" ng-model ="usuario.username">

        <div class="role-user">
          <label>Rol:</label> <br>
          <input type="radio" id="adm" value="0" ng-model ="usuario.role" ><label for="adm" class="light"> Administrador</label><br>
          <input type="radio" id="emp"  value="1" ng-model ="usuario.role" ><label for="emp" class="light"> Empleado</label>
        </div>

        <div class="type-user">
          <label>Tipo:</label> <br>
          <input type="radio" id="perm"  value="0" ng-model ="usuario.employee_type" ><label for="perm" class="light">Permanente </label><br>
          <input type="radio" id="temp" value="1" ng-model ="usuario.employee_type" ng-disabled="usuario.role == '0' "><label for="temp" class="light" > Temporal</label>
        </div>
        
      </fieldset>
      <p></p>
      <button class="bform"  ng-click="crear_usuario()">Registrar</button>
    </form>

    <!-- Modificar Usuarios form--> 
    <form ng-show="tab == 2">

      <h1>Modificar Usuarios</h1>

      <fieldset>
        <select ng-model="usuarioSeleccionado" ng-options="usuarios as usuarios.name for usuarios in lisUsuario" >
          
        </select>
        <br>

        <label >Nombre:</label>
        <input type="text" id="name" name="user_name" ng-model="usuarioSeleccionado.name">

        <label >Usuario:</label> 
        <input type="text" id="name" name="user_username" ng-model="usuarioSeleccionado.username">

        <label >Password:</label>
        <input type="password" id="password" name="user_password" ng-model="usuarioSeleccionado.password">

        <label for="name">Celular:</label>
        <input type="tel" id="name" name="user_username" ng-model ="usuarioSeleccionado.cel">

        <label for="name">Telefono Fijo:</label>
        <input type="tel" id="name" name="user_username" ng-model ="usuarioSeleccionado.tel">

        <label for="name">Direccion:</label>
        <input type="text" id="name" name="user_username" ng-model ="usuarioSeleccionado.direction">

        <label for="name"># Identidad:</label>
        <input type="text" id="name" name="user_username" ng-model ="usuarioSeleccionado.id">

        <label for="name">Fecha de Nacimiento:</label>
        <input type="date" name="usuarioSeleccionado.birth_date">

        <label for="name">Estado Civil:</label>
        <select ng-model="usuarioSeleccionado.civil_status">
          <option value="Soltero">Soltero(a)</option>
          <option value="Casado">Casado(a)</option>
          <option value="Viudo">Viudo(a)</option>
        </select>

        <label for="name">Hijos:</label>
        <input type="number" id="name" name="user_children" ng-model ="usuarioSeleccionado.children">

        <label for="name">Foto:</label>
        <input type="file" name="usuarioSeleccionado.photo">

        <label for="name">Usuario:</label>
        <input type="text" id="name" name="user_username" ng-model ="usuarioSeleccionado.username">

        <div class="role-user">
          <label>Rol:</label> <br>
          <input type="radio" id="adm" value="0" ng-model="usuarioSeleccionado.role"><label for="adm" class="light"> Administrador</label><br>
          <input type="radio" id="emp" value="1" ng-model="usuarioSeleccionado.role"><label for="emp" class="light"> Empleado</label>
        </div>
        <div class="type-user">
          <label>Tipo:</label> <br>
          <input type="radio" id="perm" value="0" ng-model="usuarioSeleccionado.employee_type"><label for="perm" class="light"> Permanente</label><br>
          <input type="radio" id="temp" value="1" ng-model="usuarioSeleccionado.employee_type"><label for="temp" class="light"> Temporal</label>
        </div>
        <div class="state-user">
          <label>Estado:</label> <br>
          <input type="radio" id="inact" value="0" ng-model="usuarioSeleccionado.status" ><label for="inact" class="light"> Inactivo</label><br>
          <input type="radio" id="act" value="1" ng-model="usuarioSeleccionado.status" ><label for="act" class="light" > Activo</label>
        </div>
        </fieldset>
      <p></p>
      <button class="bform"  ng-click="modificar_usuario()">Modificar</button>
    </form>

  </div>
</div>