<div class="container" ng-controller="RoomController" ng-init="getRooms()">
   <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
         <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
               <span class="sr-only">Toggle Navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/#/home"> 
               <img class="logo" alt="Brand" src="../img/logomacarthur.png" style="
                   width: 8em;
                   height: 2.8em;
                   padding-top: 0.2em;
               ">
            </a>
         </div>
         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="/#/home">Manejar Habitaciones</a></li>
              <li><a href="/#/manage">Manejar Usuarios</a></li>
              <li ng-click="logout()"><a href="">Logout</a></li>
            </ul>
         </div>
      </div>
   </nav>

   <div class="container extra">
   </div>

   <!-- Breadcrumbs -->
   <div class="container bod">
      <ul class="breadcrumb">
         <li class="active"><a href="/#/home">Agregar Habitaciones</a></li>
         <li><a href="/#/choose">Empleados</a></li>
         <li><a href="/#/dist">Repartición</a></li>
         <li><a href="/#/home">Final</a></li>
      </ul>
   </div>

   <!-- Grid de habitaciones -->
   <div class="habs">
      <h1>Habitaciones</h1>
      <div class="row" >
            <button type="button" class="btn col-md-1 btn-default" ng-repeat="f in firstfloor" ng-class="{'room-selected': f.status}" ng-click="selectRoom(f)"> {{f.room_id}} </button>
      </div><br>
      <div class="row">
            <button type="button" class="btn col-md-1 btn-default" ng-repeat="s in secondfloor" ng-class="{'room-selected': s.status}" ng-click="selectRoom(s)"> {{s.room_id}} </button>
      </div>
   </div>

   <!-- Pagination (boton de next) -->
   <div class="container bod">
      <nav aria-label="...">
        <ul class="pager">
          <!--li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li-->
          <li class="next" ng-click="changeChooseEmps(selectedRooms)"><span aria-hidden="true">Siguiente &rarr;</span></li>
        </ul>
      </nav>
   </div>
</div>