<div class="container" ng-controller="RoomController"  ng-init= "init()"> <!-- ng-init= "createAllRooms()">-->
   <div class="container-extra">
   </div>
   <div class="container-extra">
   </div>
    <div id = "time"> </div>

    <div class="row">
      <!-- Seleccion de Empleadas -->
      <div class="emps col-md-4">
        <h1>Empleados</h1>
          <!-- Modal -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Seleccione Empleados</h4>
                </div>
                <div class="modal-body">
                  <select ng-options="employee as employee.username for employee in empleados" ng-model="n">
                  </select>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                  <button type="button" class="btn btn-primary" ng-click="submitEmployee(n)">Agregar</button>
                </div>
              </div>
            </div>
          </div>

          <ul class="list-group">
            <li ng-repeat = "n in employeeWithRooms track by $index" class="list-group-item" >
              {{n.empleado.username}}
              <a ng-click="close($index)" class="fa fa-remove fa-times fa-lg pull-right" style="color: gray;"></a>
              <span data-drag="true"
                    data-jqyoui-options="{revert: 'invalid'}"
                    ng-model="firstfloor" jqyoui-draggable="{index: {{$index}}, animate:true, onStart:'startCallback(n)', onStop:'stopCallback(n)'}" class="glyphicon glyphicon-hand-up badge">
              </span>
            </li>
          </ul>

          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary glyphicon glyphicon-plus" data-toggle="modal" data-target="#myModal" ></button>

      </div>



     <!-- Grid de habitaciones -->
      <div class="habs col-md-8">
        <h1>Habitaciones</h1>
        <div class="grids">
          <span>
            <div id="grid" ng-repeat = "f in floors track by $index" ng-if="(f.room_id <= 125)" class="btn btn-default" data-drop="true"
               jqyoui-options="{revertDuration: 1000}"
               jqyoui-droppable="{multiple:true,onOver:'room_hover(f)',onOut:'room_hover_out(f)', onDrop:'dropCallback(f)'}"
               ng-click = "selectRoom(false,f,false)"
               ng-class="{'room-selected': f.status == 1, 'room-clean': f.status == 2, 'room-clean-w-prob': f.status ==3,       'room-not-clean': f.status == 4, 'room-priority':f.status==5}"
               ng-mousedown="handleClick($event,f)"
               oncontextmenu="return false"
               ng-model="floors" >
              {{f.room_id}}
              
              <span class = "glyphicon glyphicon-user" ng-hide = "f.idUser.length == 0"></span><br>
              <span class = "glyphicon glyphicon-thumbs-down" ng-hide = "f.status <3 || f.status ==5"></span>
            </div>
            <br>
            <br>
            <div id="grid" ng-repeat = "f in floors track by $index" ng-if="(f.room_id > 125)" class="btn btn-default" data-drop="true"
               jqyoui-options="{revertDuration: 1000}"
               jqyoui-droppable="{multiple:true,onOver:'room_hover(f)',onOut:'room_hover_out(f)', onDrop:'dropCallback(f)'}"
               ng-click = "selectRoom(false,f,false)"
               ng-class="{'room-selected': f.status == 1, 'room-clean': f.status == 2, 'room-clean-w-prob': f.status ==3,       'room-not-clean': f.status == 4, 'room-priority':f.status==5}"
               ng-model="floors" ng-mousedown="handleClick($event,f)" >
              {{f.room_id}}
              <span class = "glyphicon glyphicon-user" ng-hide = "f.idUser.length == 0"></span>
              <span class = "glyphicon glyphicon-thumbs-down" ng-hide = "f.status <3 || f.status ==5"></span>
            </div>

          </span>
        </div>
        <!-- Simbología -->
        <div class="simb">
          <span class="label label-default">Sin Seleccionar</span>
          <span class="label label-primary">Seleccionada</span>
          <span class="label label-success">Limpia</span>
          <span class="label label-priority">Prioridad</span>
          <span class="label label-warning">Limpia con Problema</span>
          <span class="label label-danger">No Limpia</span>
        </div>

      </div>
   </div>

   <br>
   <br>

  <!-- Reparticion de Habitaciones -->
  <div class="habs">
    <h1>Repartición de Habitaciones</h1>

    <div class="row">
      <div class="repart col-md-3" ng-repeat = "e in employeeWithRooms track by $index"
           ng-model="employeeWithRooms.habitacion" data-drop="true" data-jqyoui-options jqyoui-droppable="{multiple:true,onOver:'room_hover(e)',
           onOut:'room_hover_out(e)',onDrop:'stopCallback_distribution(e)'}">
        <h4 class="repart-name" >
          {{e.empleado.username}}
        </h4>
        <ul class="list-group" >
          <li class="list-group-item" data-drag="true"
              data-jqyoui-options="{revert: 'invalid'}"
              data-id="{{h.room_id}}"
              ng-model="eployeeWithRooms.habitacion" jqyoui-draggable="{index: {{$index}},animate:true,onStart:'startCallback_distribution(h,e)',
               onStop:'startCallback_distribution(h,e)',onDrop:'dropCallback_distribution(e)'}"
              ng-repeat = "h in e.habitacion track by $index"> {{h.room_id}} </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Modal Info Habitación -->
  <div  id="infoMsg" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 class="modal-title"><center>Habitación {{infoRC.room_id}}</center></h2>
        </div>

        <div class="modal-body" ng-model="infoRC">
          <div class="row">
          	 <div class="col-md-6 room-image">
          	 	<img style="height:100%; width:100%;" data-ng-src="img2.JPEG"/>
          	 </div>

          	 <div class="col-md-6 emps-info" ng-repeat="f in infoRC.idUser">
          	   <div class="row">
                  <h3 class="name-emps-info col-xs-6">{{f.username}}</h3>
                  <hr><br>
                   <h3 class="name-emps-info col-xs-6">Informacion:</h3>
                   <hr><br>
                   <h3 class="name-emps-info col-xs-6">{{infoRC.observation}}</h3>
          	   </div>
          	 </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click = "selectRoom(false,infoRC,true)" ng-disabled="infoRC.status === 0 || employeeWithRooms.length <= 0 || infoRC.status === false || infoRC.status === 2 || infoRC.status === 3 || infoRC.status === 4">{{infoRC.status === 5 ? 'Despriorizar' : 'Priorizar'}}</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>

      </div>

    </div>
  </div>
