<div class="container" ng-controller="ProblemasCrud" ng-init="get_problema()">
  
  <div class="container-extra">
  </div>
  <div class="container-extra">
  </div>

  <ul class="nav nav-tabs" ng-init="tab = 1">
    <li role="presentation" class="tab" ng-class="{active: tab==1}" ng-click="tab = 1" ><a>Crear Problemas</a></li>
    <li role="presentation" class="tab" ng-class="{active: tab==2}" ng-click="tab = 2"><a>Modificar Problemas</a></li>
    <li role="presentation" class="tab" ng-class="{active: tab==3}" ng-click="tab = 3"><a>Eliminar Problemas</a></li>
  </ul>

  <div class="main-manage" >
    <!-- Agregar Usuarios form -->
    <form class = "fix " ng-show="tab == 1">


      <h1>Crear un nuevo problema</h1>

      <fieldset>
      <label for="name">Tipo de problema:</label>
        <select class="text" ng-model="problema_nuevo.tipo">
          <option value="0">Limpio con problemas</option>
          <option value="1">No limpio</option>
        </select>

        <label for="name">Descripcion del Problema:</label>
        <input type="text" id="name" name="user_name"  ng-model ="problema_nuevo.descripcion" >

              </fieldset>
      <p></p>
      <button class="bform"  ng-click="crear_problema()">Registrar</button>
    </form>

    <!-- Modificar Usuarios form--> 
    <form ng-show="tab == 2">

      <h1>Modificar Problema</h1>

      <fieldset>
        
        <br>
           <label >Tipo de Problema:</label> 
       <select class="text" ng-model="seleccionado" ng-change="update()">
          <option value="0">Limpio con problemas</option>
          <option value="1">No limpio</option>
         
        </select>
        
        <label >Problema Actual:</label> 
        <select ng-model="seleccionado2" ng-options="o as o.problem_description for o in no_limpio"></select>
        <label >Problema Nuevo:</label>
        <input type="text" ng-model="problema_modificado">
       </fieldset>
      <p></p>
      <button class="bform"  ng-click="guardar_modificado()">Modificar</button>
    </form>


    <form ng-show="tab == 3">

      <h1>Eliminar Problema</h1>
      <fieldset>
         <label>Tipo de problema:</label>
          <select class="text" ng-model="seleccionado" ng-change="update()">
            <option value="0">Limpio con Problemas</option>
            <option value="1">No limpio</option>
          </select>
          <label >Problemas:</label>
          <select ng-model="seleccionado2" ng-options="o as o.problem_description for o in no_limpio"></select>
          <button class="bform" ng-click="Eliminar()">Eliminar</button>
      </fieldset>
      
    </form>
  </div>
</div>