<div class="container" ng-controller="HistoryController" ng-init = "getReports()" >

  <h1>Historial</h1>

  <div class="slinput" ng-init="">
    <i class="fa fa-search left-icon"></i>
    <input placeholder="Busque aquí" ng-model="searchInputVal"/>
    <i ng-class="{'fa' : true, 'fa-close' : true, 'right-icon' : true, active : (searchInputVal.length > 0)}" ng-click="searchInputVal = ''"></i>
  </div>

  <div ng-init="sortOrderVal = 'date_reported' " id = "myTab">
    <ul class="nav nav-tabs" ng-init="tab = getActiveTab()">
      <li role="presentation" class="tab" ng-class="{active: tab==1}" ng-click="tab=1; sortOrderVal='date_reported'; setActiveTab(1)" ><a>Fecha</a></li>
      <li role="presentation" class="tab" ng-class="{active: tab==2}" ng-click="tab=2; sortOrderVal='room_number'; setActiveTab(2)" ><a>Habitación</a></li>
      <li role="presentation" class="tab" ng-class="{active: tab==3}" ng-click="tab=3; sortOrderVal='employee_username'; setActiveTab(3)"><a>Empleado</a></li>
      <li role="presentation" class="tab" ng-class="{active: tab==4}" ng-click="tab=4; sortOrderVal='room_number'; getResolved(); setActiveTab(4)"><a>Problemas</a></li>
    </ul>
  </div>

  <div class="row">
    <div class="rep row">
      <div class="col-md-4">
        <strong>Ingrese fecha de Inicio:</strong>
        <input class="input_date" type="date" id="start" min="2015-12-31" ng-model="startDate">
      </div>
      <div class="col-md-4">
        <strong>Ingrese fecha Final:</strong>
        <input class="input_date" type="date" id="end" max="2020-01-01" ng-model="endDate">
      </div>
      <button type="button" class="btn btn-primary col-md-2" ng-click="filterByDate()">Filtrar por Fecha</button>
    </div>

    <div class="hist col-md-9">
      <div class="reports" ng-if="tab<4">
        <div class="rep-body" id="printThisElement">
          <H2>Reportes de Habitaciónes</H2>
          <table id="table" class="table table-stripes">
            <tr>
              <th>
                Número de Habitación
              </th>
              <th>
                Nombre del Empleado
              </th>
              <th>
                Estado
              </th>
              <th>
                Observación
              </th>
              <th>
                Fecha de cambio de estado
              </th>
            </tr>
            <tr ng-repeat="rep in reportsList | filter:searchInputVal | orderBy:sortOrderVal | filter:filterByUsername | limitTo:recordLimit | filter:filterByState">
              <td>
                {{rep.room_number}}
              </td>
              <td>
                {{rep.employee_username}}
              </td>
              <td ng-if="rep.room_state == 6">
                No atendida
              </td>
              <td ng-if="rep.room_state == 2">
                Limpia
              </td>
              <td ng-if="rep.room_state == 3">
                Limpia con Problemas
              </td>
              <td ng-if="rep.room_state == 4">
                No Limpia
              </td>
              <td>
                {{rep.problem_id}}
              </td>
              <td>
                {{rep.date_reported | date: 'EEEE dd/MM/yyyy'}}
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="reports" class="reports-by-room" ng-if="tab == 4" >
        <div class="rep-body">
          <table id="table_by_room" class="table table-stripes">
            <tr>
              <th>
                Número de Habitación
              </th>
              <th>
                Nombre del Empleado
              </th>
              <th>
                 Observación
              </th>
              <th>
                  Fecha de cambio de estado
              </th>
              <th>
                Estado
              </th>
            </tr>
            <tr ng-repeat="rep in lista_problemas | filter:searchInputVal | orderBy:sortOrderVal | filter:filterByUsername | limitTo:recordLimit | filter:filterByState">
              <td>
                {{rep.room_number}}
              </td>
              <td>
                {{rep.employee_username}}
              </td>
              <td>
                {{rep.problem_id}}
              </td>
              <td>
                {{rep.date_reported | date: 'EEEE dd/MM/yyyy'}}
              </td>
              <td>
                <button type="button" class="btn btn-info" ng-click="cambiar_estado_problema(rep)">Problema Resuelto</button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="filts col-md-3">
      <div class="user-filter">
        <strong>Filtro por Usuario</strong>
        <div ng-repeat="user in userList">
          <label class="checkbox-inline">
            <input type="checkbox" name="users" ng-model="filter[user]"> {{user}}
          </label>
        </div>
      </div>
      <div class="state-filter">
        <strong>Filtro por Estado</strong>
        <div ng-repeat="state in statesList">
          <label for="state6" class="checkbox-inline" ng-if="state == 6" ng-show="state == 6"> 
            <input id="state6" type="checkbox" name="states" ng-model="filterState[state]"> No atendida 
          </label>
          <label for="state2" class="checkbox-inline" ng-if="state == 2" ng-show="state == 2"> 
            <input id="state2" type="checkbox" name="states" ng-model="filterState[state]"> Limpia 
          </label>
          <label for="state3" class="checkbox-inline" ng-if="state == 3" ng-show="state == 3"> 
            <input id="state3" type="checkbox" name="states" ng-model="filterState[state]"> Limpia con problemas
          </label>
          <label for="state4" class="checkbox-inline" ng-if="state == 4" ng-show="state == 4"> 
            <input id="state4" type="checkbox" name="states" ng-model="filterState[state]"> No limpia 
          </label>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-primary" ng-if="tab<4" ng-show="records.length > recordLimit" ng-click="recordLimit = recordLimit + 8">Mostrar más Reportes</button>
  <button type="button" class="btn btn-primary" ng-click="printToCart('printThisElement')">Imprimir</button>
  <div class="container-extra">
  </div>
</div>


