<div class="container" ng-controller="UsersController" ng-init="clear_user()">
   
   <div class="container extra">
   </div>

   <div class="main-login">
      <form>

         <h1>Iniciar Sesión</h1>

         <fieldset>
           <label for="mail">Usuario:</label>
           <input  ng-model="username" type="text" id="username" name="user_email">

           <label for="password">Password:</label>
           <input  ng-model="password"  type="password" id="password" name="user_password">
         </fieldset>
         <p></p>
         <button ng-click= "login()"  class="bform" type="submit">Ingresar</button>
      </form>
      <button ng-click="go_start()" class="btn-back">Atrás</button>
   </div>
</div>