<div class="container" ng-controller="UsersController" ng-init="getUser()">
  <div class="container-extra">
  </div>
  <div class="container-extra">
  </div>

  <ul class="nav nav-tabs" ng-init="tab = 1">
    <li role="presentation" class="tab" ng-class="{active: tab==1}" ng-click="tab = 1" ><a>Crear Usuarios</a></li>
    <li role="presentation" class="tab" ng-class="{active: tab==2}" ng-click="tab = 2"><a>Modificar Usuarios</a></li>
  </ul>

  <div class="main-manage">
    <!-- Agregar Usuarios form -->
    <form class = "fix " ng-show="tab == 1">
      <h1>Crear un Nuevo Usuario</h1>

      <fieldset>
        <label class="mylabel" for="name">Nombre:</label>
        <input type="text" id="name" name="user_name" ng-model ="usuario.name" maxlength="35" required minlength="7" required placeholder="El usuario debe tener entre 7 y 35 letras y espacios" oninvalid="notsaved=false" pattern="([a-zA-Z]+( [a-zA-Z]+)?){7}( [a-zA-Z]+)?( [a-zA-Z]+)?( [a-zA-Z]+)?">

        <label class="mylabel" for="user">Usuario:</label>
        <input type="text" id="user" name="user_username" ng-model ="usuario.username" maxlength="15" required minlength="4" required placeholder="El usuario debe tener entre 4 y 15 letras y números" oninvalid="notsaved=false" pattern="[a-zA-Z]{3}[a-zA-Z]*\d*[a-zA-Z]*\d*[a-zA-Z]*\d*">

        <label class="mylabel" for="password">Password:</label>
        <input type="password" id="password" name="user_password" ng-model ="usuario.password" maxlength="15" required minlength="6" placeholder="La contraseña debe tener entre 6 y 15 caracteres" oninvalid="notsaved=false" pattern=".{5}.+">

        <label class="mylabel" for="password_2">Verificación de password:</label>
        <input type="password" id="password_2" name="user_password" ng-model ="password2" maxlength="15" minlength="6" placeholder="Ingrese de nuevo la contraseña" ng-valid="verifyPassword()" ng-change="verifyPassword()" oninvalid="notsaved=false" pattern=".{5}.+" ng-class="{'validpass':
          validpwd == true, 'invalidpass':
          validpwd == false}">

     
        <label class="mylabel" for="cel">Celular:</label>
        <input type="tel" id="cel" name="user_username" ng-model ="usuario.cel" required maxlength="8" minlength="8" placeholder="El celular debe tener 8 números Ej. 99889988" oninvalid="notsaved=false" pattern="\b\d{4}\d{4}\b">

        <label class="mylabel" for="tel">Telefono Fijo:</label>
        <input type="tel" id="tel" name="user_username" ng-model ="usuario.tel" required maxlength="8" minlength="8" placeholder="El teléfono debe tener 8 números Ej. 22332233" oninvalid="notsaved=false" pattern="\b\d{4}\d{4}\b">

        <label class="mylabel" for="dir">Direccion:</label>
        <input type="text" id="dir" name="user_username" ng-model ="usuario.direction" required minlength="10" required placeholder="La dirección debe tener más de 10 caracteres" oninvalid="notsaved=false" pattern=".{9}.+">

        <label class="mylabel" for="idnum"># Identidad:</label>
        <input type="text" id="idnum" name="user_username" ng-model="usuario.id" maxlength="15" required minlength="15" required placeholder="Formato del número de identidad 0000-1234-56789" oninvalid="notsaved=false" pattern="\b\d{4}[-]\d{4}[-]\d{5}\b">

        <label class="mylabel" for="nac">Fecha de Nacimiento:</label>
        <input type="date" id="nac" name="usuario.birth_date" ng-model="usuario.birth_date" maxlength="10" enabled="false" required minlength="10" required placeholder="Formato de la fecha dd/mm/aaaa Ej. 22/03/1980" oninvalid="notsaved=false" pattern="\b\d{2}[/]\d{2}[/]\d{4}\b">

        <label class="mylabel" for="civils">Estado Civil:</label>
        <select id="civils" ng-model="usuario.civil_status">
          <option selected value value="Soltero" selected>Soltero(a)</option>
          <option value="Casado">Casado(a)</option>
          <option value="Viudo">Viudo(a)</option>
        </select>
        <br><br>

        <label class="mylabel" for="hijos">Hijos:</label>
        <input type="number" id="hijos" name="user_children" oninvalid="notsaved=false" ng-model ="usuario.children" max="20" required min="0" required placeholder="Ingrese el número de hijos">

        <label class="mylabel" for="foto">Foto:</label>
        <input id="photo" type="file" foto="usuario.photo" accept="image/*">
        <br>

        <div class="role-user">
          <label class="mylabel">Rol:</label> <br>
          <input type="radio" id="adm" value="0" ng-model ="usuario.role" ><label class="mylabel" for="adm" class="light"> Administrador</label><br>
          <input type="radio" id="emp"  value="1" ng-model ="usuario.role" ><label class="mylabel" for="emp" class="light"> Empleado</label>
        </div>

        <div class="type-user">
          <label class="mylabel">Tipo:</label> <br>
          <input type="radio" id="perm"  value="0" ng-model ="usuario.employee_type" ><label class="mylabel" for="perm" class="light">Permanente </label><br>
          <input type="radio" id="temp" value="1" ng-model ="usuario.employee_type" ng-disabled="usuario.role == '0' "><label class="mylabel" for="temp" class="light" > Temporal</label>
        </div>
        
      </fieldset>
      <p></p>
      <button id="register" class="bform" ng-click="crear_usuario()">Registrar</button>
    </form>

    <!-- Modificar Usuarios form--> 
    <form ng-show="tab == 2">

      <h1>Modificar Usuarios</h1>

      <fieldset>
        <select ng-model="usuarioSeleccionado" ng-options="usuarios as usuarios.username for usuarios in lisUsuario" >
          <option disabled selected value> -- Seleccione el usuario a modificar -- </option>
        </select>
        <br>

        <label class="mylabel" for="namem">Nombre:</label>
        <input ng-model="usuarioSeleccionado.name" type="text" id="namem" name="user_name" maxlength="35" required minlength="7" required placeholder="El usuario debe tener entre 7 y 35 letras y espacios" pattern="([a-zA-Z]+( [a-zA-Z]+)?){7}( [a-zA-Z]+)?( [a-zA-Z]+)?( [a-zA-Z]+)?">

        <label class="mylabel" for="userm">Usuario:</label>
        <input ng-model="usuarioSeleccionado.username" type="text" id="userm" name="user_username" maxlength="15" required minlength="4" required placeholder="El usuario debe tener entre 4 y 15 letras" pattern="[a-zA-Z]{3}[a-zA-Z]+\d*">

        <label class="mylabel" for="passwordm">Password:</label>
        <input ng-model="usuarioSeleccionado.password" type="password" id="passwordm" name="user_password" maxlength="15" required minlength="6" placeholder="La contraseña debe tener entre 6 y 15 caracteres" pattern=".{5}.+">

        <label class="mylabel" for="password_2m">Verificación de password:</label>
        <input type="password" id="password_2m" name="user_password" ng-model ="password2" maxlength="15" minlength="6" placeholder="Ingrese de nuevo la contraseña" ng-valid="verifyPassword()" ng-change="verifyPassword()" pattern=".{5}.+" ng-class="{'validpass':
          validpwd == true, 'invalidpass':
          validpwd == false}">


         <label class="" for="Pin">Pin:</label>
        <input type="tel" id="" name="user_pin" ng-model ="usuarioSeleccionado.pi" required maxlength="4" minlength="4" placeholder="El pin debe tener 8 números Ej. 9999"  pattern="\d{4}" >

        <label class="mylabel" for="cel">Celular:</label>
        <input type="tel" id="cel" name="user_username" ng-model ="usuarioSeleccionado.cel" required maxlength="8" minlength="8" placeholder="El celular debe tener 8 números Ej. 99889988" pattern="\b\d{4}\d{4}\b">

         <label class="mylabel" for="tel">Telefono Fijo:</label>
        <input type="tel" id="tel" name="user_username" ng-model ="usuarioSeleccionado.tel" required maxlength="8" minlength="8" placeholder="El teléfono debe tener 8 números Ej. 22332233" pattern="\b\d{4}\d{4}\b">

        <label class="mylabel" for="dirm">Direccion:</label>
        <input ng-model="usuarioSeleccionado.direction" type="text" id="dirm" name="user_username" required minlength="10" required placeholder="La dirección debe tener más de 10 caracteres" pattern=".{9}.+">

        <label class="mylabel" for="idnumm"># Identidad:</label>
        <input ng-model="usuarioSeleccionado.id" type="text" id="idnumm" name="user_username" maxlength="15" required minlength="15" required placeholder="Formato del número de identidad 0000-1234-56789" pattern="\b\d{4}[-]\d{4}[-]\d{5}\b">

        <label class="mylabel" for="nacm">Fecha de Nacimiento:</label>
        <input ng-model="usuarioSeleccionado.birth_date" type="date" id="nacm" name="usuarioSeleccionado.birth_date" maxlength="10" required minlength="10" required placeholder="Formato de la fecha dd/mm/aaaa Ej. 22/03/1980" pattern="\b\d{2}[/]\d{2}[/]\d{4}\b">

        <label class="mylabel" for="civilsm">Estado Civil:</label>
        <select id="civilsm" ng-model="usuarioSeleccionado.civil_status">
          <option selected value value="Soltero" selected>Soltero(a)</option>
          <option value="Casado">Casado(a)</option>
          <option value="Viudo">Viudo(a)</option>
        </select>
        <br><br>

        <label class="mylabel" for="hijosm">Hijos:</label>
        <input ng-model="usuarioSeleccionado.children" type="number" id="hijosm" name="user_children" max="20" required min="0" required placeholder="Ingrese el número de hijos">

        <label class="mylabel" for="foto">Foto:</label>
        <input required id="photom" foto="usuarioSeleccionado.photo" type="file" accept="image/*">
        <br>

        <div class="role-user">
          <label class="mylabel">Rol:</label> <br>
          <input ng-model="usuarioSeleccionado.role" type="radio" id="adm" value="0" ><label class="mylabel" for="adm" class="light"> Administrador</label><br>
          <input ng-model="usuarioSeleccionado.role" type="radio" id="emp"  value="1" ><label class="mylabel" for="emp" class="light"> Empleado</label>
        </div>

        <div class="type-user">
          <label class="mylabel">Tipo:</label> <br>
          <input ng-model="usuarioSeleccionado.employee_type" type="radio" id="perm"  value="0" ><label class="mylabel" for="perm" class="light">Permanente </label><br>
          <input ng-model="usuarioSeleccionado.employee_type" type="radio" id="temp" value="1" ng-disabled="usuario.role == '0' "><label class="mylabel" for="temp" class="light" > Temporal</label>
        </div>
        
      </fieldset>
      <p></p>
      <button id="register" class="bform" ng-click="modificar_usuario()">Modificar</button>
    </form>

  </div>
</div>