<div class="container" ng-controller="UsersController as vm" ng-init="getEmployees()">
   
   <div class="container extra">
   </div>

  <div class="main-login">
    <table class='login_table col-md-12'>
      <tr>
        <th class="emp_img" ng-repeat = "e in employees track by $index">  
          <center>
            <button class="photo-button" ng-click="select_current_emp(e)" data-toggle = "modal" data-target="#numpad">
              <img class="img-circle" src="{{e.photo}}" width="200" height="200" />
            </button>  
          </center>
          <center>{{e.username}}</center>
        </th>
      </tr>
    </table>
  </div>  
  <center><button ng-click="go_start()" class="btn-back">Atrás</button></center>
  <!-- MODAL -->
  <div  id="numpad" class="modal fade" role="dialog">
    <div class="modal-dialog">
      
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 class="modal-title"><center>Ingrese Pin</center></h2>
        </div>

        <div class="modal-body" ng-model="pinInserted">
          <div>
            <div class="demo__iphone-numbers">                
                <input type="text" data-ng-model="vm.numbers">
            </div>
            
            <div class="demo__iphone-keypad">
                <bc-keypad bc-number-model="vm.numbers" bc-left-button="backspace" bc-right-button="submit" bc-right-button-method="verificarDatos(vm.numbers, SelectedEmployee)" bc-max-length = "4"></bc-keypad>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>

      </div>

    </div>
  </div>
</div>